body {
  background-image: url('../../img/space_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.panel {
  background-image: url('../../img/stars.jpg');
  background-position: center;
  background-size: contain;
}

.page-header {
  text-align: center;
}

.panel_color, .panel {
  border-color: #272852;
}

h4, p{
  text-align: center;
}

.thumbnail, .btn, .panel_color, .panel {
  background-color: #272852;
}

.thumbnail h4, .thumbnail p {
  color: white;
}

p span{
  font-size: 30px;
}

.btn {
  border-color: white;
}
